
.select {
    padding: 1px 10px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'open sans';
    font-size: 18px;
  
}

.body {
    font-family: Raleway;
}

.title {
    color: #1037a2;
    font-weight: 800;
    font-size: 26px;
    margin: 10px 0px 40px;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.seelct option{
    background: #ffffff;
}

div.form-row {
    height: 5em;
}

.btn-submit {
    text-align: center; 
    background: #1037a2;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px 28px;
    font-family: Raleway;
    color: #fff;
}

#btn:focus,
#btn:hover {
    opacity: 0.8;
    /* outline: none;
    border: 1px solid #bbbbbb; */
}

span {
    font-size: 20px;
    font-family: 'open sans';
}

#output {
    font-size: 20px;
    font-family: 'open sans';
}


