
.select {
    padding: 1px 10px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'open sans';
    font-size: 18px;
  
}

body {
    font-family: Raleway;
}

.title {
    color: #1037a2;
    font-weight: 800;
    font-size: 26px;
    margin: 0px 0px 30px;
    text-align: center;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option{
    background: #ffffff;
}


form {
    display: flex;
    flex-direction: column;
}

div.form-row {
    margin-left: 35%;
    margin-bottom: 2%;
    margin-right: 35%;
}

.checkbox-input {
    margin-left: 7%;
    margin-top: 2%;
}

.checkbox-input.role {
    column-count: 2;
}

.btn-submit {
    text-align: center; 
    background: #1037a2;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px 28px;
    font-family: Raleway;
    color: #fff;
    align-self: center;
    border: 0px;
}

#btn:focus,
#btn:hover {
    opacity: 0.8;
    /* outline: none;
    border: 1px solid #bbbbbb; */
}

span {
    font-size: 20px;
}

.output {
    font-size: 20px;
    text-align: center;
}


